#footer {
    font-family: var(--mainKor-font);
}
.footer__inner {
    padding: 16px;

    .footer__text {
        width: 100%;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1; // 라인 두께 1.6
        font-family: var(--mainKor-font);
        text-transform: uppercase; // p 속성 대문자화
        color:black; // var(--black100)
        border-bottom: 0.7vw solid var(--black100); // 제목 아래 밑줄 선
        margin-bottom: 10px; 
        text-indent: -0.3vw; // 들여쓰기 
    }
    .footer__info {
        display: flex;
        justify-content: space-between;
        margin: 100px 0;

        @media (max-width: 800px){
            flex-direction: column;
        }

        .left {
            width: 40%;

            @media (max-width: 800px){
                width: 100%;
            }

            .title {
                border-top: 2px solid var(--black);
                border-bottom: 1px solid var(--black);
                padding: 20px 0;
                text-transform: uppercase;
                font-weight: 700;
                transition: all 0.3s;
                 // background: url(../../img/arrow.svg) no-repeat right 20px;

                // &:hover {
                //     background-color: var(--black400);
                //     padding-left: 10px;
                //     border-color: transparent;  
                // }
            }
            .desc {
                font-size: 12px;
                padding-top: 20px;

                @media (max-width: 800px){
                    margin-bottom: 40px;
                }
            }
        }

        .right {
            width: 50%;

            @media (max-width: 800px){
                width: 100%;
            }

            h3 {
                border-top: 2px solid var(--black);
                font-size: 20px;
                margin-bottom: 40px;
                padding-top: 10px;
            }
            ul {
                border-top: 1px solid var(--black);
                // padding-top: 5px;

                li {
                    border-bottom: 1px solid var(--black);

                    a {
                        padding: 14px 0;
                        font-size: 14px;
                        display: inline-block;
                        text-transform: uppercase;
                    }
                    em {
                        font-size: 12px;
                        padding-left: 10px;
                        opacity: 0;
                        transition: all 0.3s;
                    }

                    &:hover {
                        em {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .footer__bottom {
        text-align: center;
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 10px;
    }
}